.header {
	
	text-align: center;
	padding: 20px;
  }
  
.intro{
	font-size: 20px;
	font-family:'Courier New', Courier, monospace;
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}
.heading{
	text-align: center;
}
.startup{
	font-size: 20px;
	font-family:'Courier New', Courier, monospace;
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}
.content{
	font-size: 23px;
	font-family:'candara';
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}
.Challenges{
	font-size: 20px;
	font-family:'Courier New', Courier, monospace;
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}